body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 2px;

/* relative path ./ */

/* ../ and ./  and /relative path go dipe dive later */

}
.profile{
    width:150px;
    border:2px solid #d8cefe;
    border-bottom: 6px solid #9281d7;
    box-shadow: 0 4px 10px;
    border-radius: 2px;
    
    
    
}

.card{
    
    padding: 25px;
    display: flex;
    justify-content: space-around;
    /* use justify conten to use the space to move the elemenr */
    width: 400px;
   
    margin:0 auto;
    text-align: center;

    color: #2b2839;
    background: #deb9e6;
    
    border-bottom: 6px solid #9281d7 ;




    box-shadow: 0 4px 10px;

    
}

.card:hover{
    /* zoom effect scale  */
    transform: scale(1.05);
    /* transform: translateY(-12px); */
    box-shadow: 0 12px 25px #9281d7;
}



.border{
    border: 1px dotted blue ;
    
}



/* utility class  20
a class for a single css property */



/* web safe 

class= card border font 21  */